<div class="container a2 pt-1">
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="/images/github.png" class="img-thumbnail" alt="..."> <p>
                O GitHub é uma plataforma de hospedagem de código-fonte baseada na web que utiliza o sistema de controle de versão Git. Ele permite que desenvolvedores e equipes de desenvolvimento colaborem em projetos de software, compartilhem e revisem o código, acompanhem problemas (issues) e gerenciem as alterações do código de maneira eficiente. <br> <br> 

No GitHub, os projetos são armazenados em repositórios, que são os locais onde o código-fonte e os arquivos relacionados são mantidos. Os repositórios podem ser públicos, permitindo que qualquer pessoa veja e contribua com o código, ou privados, limitando o acesso apenas às pessoas autorizadas. <br><br>

Além de fornecer hospedagem para repositórios Git, o GitHub também oferece uma série de recursos adicionais, como: <br>Controle de versão: O GitHub usa o Git para rastrear as alterações feitas nos arquivos e permite que os desenvolvedores revertam para versões anteriores, comparem alterações e mesclam diferentes ramificações de desenvolvimento. <br><br>

Colaboração: Várias pessoas podem colaborar em um projeto hospedado no GitHub, permitindo que trabalhem juntas em um mesmo código, revisem as alterações uns dos outros e comentem no código ou em problemas específicos. <br><br>

Gerenciamento de problemas (issues): Os desenvolvedores podem criar problemas para rastrear bugs, solicitações de recursos ou tarefas a serem concluídas. Isso facilita a comunicação e o acompanhamento das atividades relacionadas ao projeto. <br><br>

Integração contínua: O GitHub suporta integração contínua, permitindo que os desenvolvedores automatizem tarefas, como compilação, testes e implantação, para garantir a qualidade do código e agilizar o processo de desenvolvimento. <br>
<br>
Explore e contribua: O GitHub é uma comunidade global de desenvolvedores, e você pode explorar projetos públicos para encontrar código fonte aberto, aprender com outros desenvolvedores e contribuir para projetos existentes. 

            </p>
            
          </div>
          <div class="col">
            <p class="m1"> Como vemos Git e GitHub, Git e GitHub estão intimamente relacionados e são frequentemente usados em conjunto.<br><br>

                O Git é um sistema de controle de versão distribuído, como mencionado anteriormente, que permite rastrear e gerenciar alterações no código-fonte de um projeto. É uma ferramenta de linha de comando que pode ser usada localmente em um computador.
                <br><br>
                O GitHub, por outro lado, é uma plataforma de hospedagem de código-fonte baseada na web que utiliza o Git como seu sistema de controle de versão. O GitHub fornece uma interface amigável para trabalhar com repositórios Git e oferece recursos adicionais, como controle de versão, colaboração, gerenciamento de problemas e integração contínua, conforme mencionado anteriormente.<br><br>
                
                Ao usar o Git em conjunto com o GitHub, os desenvolvedores podem aproveitar as funcionalidades do Git localmente em seus computadores e, em seguida, sincronizar suas alterações com repositórios hospedados no GitHub. Isso permite que várias pessoas trabalhem em conjunto em um projeto, compartilhem código, revisem alterações uns dos outros e colaborem de maneira eficiente.
                <br><br>
                Quando os desenvolvedores fazem alterações em um repositório Git local, eles podem usar comandos Git para adicionar, confirmar e enviar suas alterações para o repositório remoto no GitHub. Por sua vez, outras pessoas podem clonar (fazer uma cópia) do repositório do GitHub para seus próprios computadores e colaborar no código. Essas alterações podem ser posteriormente enviadas de volta para o repositório remoto, facilitando o trabalho em equipe e mantendo um histórico completo de alterações. <br><br>
                
                Em resumo, o Git é o sistema de controle de versão subjacente que permite o controle de alterações no código-fonte, enquanto o GitHub é uma plataforma que hospeda repositórios Git e fornece uma interface web para colaboração, gerenciamento e outros recursos adicionais.</p>
          </div>
          <div class="col">
            <img src="/images/git.jpeg" class="img-thumbnail" alt="...">
            <p>O Git é um sistema de controle de versão distribuído usado principalmente para rastrear e gerenciar mudanças no código fonte de um projeto de software. Foi desenvolvido por Linus Torvalds em 2005 para ser usado no desenvolvimento do kernel do Linux, mas desde então se tornou uma ferramenta amplamente adotada em projetos de software em geral. <br><br>

                O Git permite que várias pessoas trabalhem em um projeto simultaneamente, mesmo que estejam em locais diferentes, facilitando a colaboração e o controle das alterações feitas no código. Ele registra todas as alterações feitas nos arquivos, permitindo que os desenvolvedores revertam para versões anteriores, comparem alterações, mesclam diferentes ramificações de desenvolvimento e gerenciem facilmente diferentes versões do software.
                <br><br>
                
                Uma das principais características do Git é sua natureza distribuída, o que significa que cada desenvolvedor possui uma cópia completa do repositório em seu próprio sistema. Isso torna o Git robusto e seguro, pois mesmo que um servidor central falhe, cada desenvolvedor ainda terá uma cópia completa do histórico de alterações.
                
                <br><br>
                O Git é uma ferramenta de linha de comando, mas também existem interfaces gráficas e ferramentas integradas a IDEs que facilitam o uso do Git. Além disso, existem plataformas de hospedagem de repositórios, como o GitHub, GitLab e Bitbucket, que fornecem recursos adicionais, como controle de acesso, rastreamento de problemas e integração contínua.</p>
          </div>
        </div>
      </div>
      
</div>


