
<div class="sidebar">
  <div class="element"><a href="#">INIT</a></div>
  <div class="element"><a href="#">STATUS</a></div>
  <div class="element"><a href="#">ADD</a></div>
  <div class="element"><a href="#">REMOTE </a></div>
  <div class="element"><a href="#">PUSH</a></div>
  <div class="element"><a href="#">PULL</a></div>

</div>
  <div class="container a2 pt-1">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-lg-6 border-p"> <h1>GIT INIT</h1><hr class="hr"> <p> O comando <v class="v">git init</v> é usado para iniciar um repositório Git em um diretório ou pasta específica. Quando você executa o <v class="v">git init</v>, ele cria um novo repositório Git vazio no diretório atual ou no diretório especificado. <br><br>

                Quando um repositório Git é iniciado usando o comando <v class="v">git init</v>, ele cria uma estrutura oculta chamada de diretório ".git". Essa estrutura contém todos os arquivos e metadados necessários para o funcionamento do Git e para controlar as versões do seu projeto. <br><br>
                
                Ao executar o <v class="v">git init</v>, o Git começa a rastrear as alterações nos arquivos do diretório especificado. Você pode adicionar arquivos ao repositório usando o comando <v class="v">git add</v> e fazer uma confirmação <b class="b">(commit)</b> dessas alterações usando o comando <v class="v">git init</v>. Isso permite que você registre as versões dos arquivos e mantenha um histórico completo de todas as alterações feitas ao longo do tempo. <br><br>
                
                O <v class="v">git init</v> deve ser executado apenas uma vez por diretório para iniciar o repositório. Após a inicialização, você pode usar outros comandos do Git para trabalhar com o repositório, como criar ramificações <b class="b">(branches)</b>, mesclar alterações, rastrear problemas <b class="b">(issues)</b> e colaborar com outros desenvolvedores. <br><br>
                
                É importante notar que o <v class="v">git init</v> inicia apenas um repositório local. Para trabalhar com repositórios remotos, como o GitHub, você precisará adicionar um repositório remoto ao seu repositório local usando o comando <b class="b">git remote add</b> para estabelecer a conexão e permitir a sincronização das alterações com o repositório remoto.</p> <hr class="hr"> 
                 </div>
                 <div class="col-12 col-lg-6 "> 
                    <h1>No terminal</h1>
                    <img src="/images/gitpasta.png" class="img-fluid" alt="Responsive image">
                    <p>Ao executarmos o comando Git init, a pasta .git sera criada no nosso diretorio</p> <hr class="hr">
                 
                    
                 </div>

         </div>
        </div>
    </div>

